<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="tujijiemian.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="game.GameActivity"
            android:label="@string/title_activity_game" >
        </activity>
        <activity
            android:name="tujijiemian.WelcomeActivity"
            android:label="@string/title_activity_welcome" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="tujijiemian.CGActivity"
            android:label="@string/title_activity_cg" >
        </activity>
        <activity
            android:name="tujijiemian.ReadyActivity"
            android:label="@string/title_activity_ready" >
        </activity>
        <activity
            android:name="tujijiemian.ExtraActivity"
            android:label="@string/title_activity_extra" 
            android:screenOrientation = "landscape">
        </activity>
    </application>

</manifest>
